.navbar-light .navbar-brand {
  font-weight: bold;
  font-size: 1.3em;
  color: $sta-menu-title;
  //padding: 100px;
}

.navbar-light .navbar-nav li.nav-item {
  font-size: 1.3em;
}

h1 {
  font-size: 1.75rem;
}


h5 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

a,
h5.article-title a:hover {
  color: #fff;
  text-decoration: none;
  transition: color 0.6s ease;
}